(
    texture_width: 200,
    texture_height: 160,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 40,
            y: 0,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 80,
            y: 0,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 120,
            y: 0,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 160,
            y: 0,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 0,
            y: 40,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 40,
            y: 40,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 80,
            y: 40,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 120,
            y: 40,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 160,
            y: 40,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 0,
            y: 80,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 40,
            y: 80,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 80,
            y: 80,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 120,
            y: 80,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 160,
            y: 80,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 0,
            y: 120,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 40,
            y: 120,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 80,
            y: 120,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 120,
            y: 120,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
        (
            x: 160,
            y: 120,
            width: 40,
            height: 40,
            flip_horizontal: false,
            flip_vertical: false,
        ),
    ],
)
