#![enable(implicit_some)]
Prefab (
    entities: [
        PrefabEntity(
             data: (
                 // SpriteScenePrefab
                 sprite_scene: (
                     // SpriteSheetPrefab with index 0
                     sheet: Sheet(
                         // TexturePrefab
                         texture: File("sprites/tilesheet.png", (
                             "IMAGE", (
                                 sampler_info: (
                                     min_filter: Nearest,
                                     mag_filter: Nearest,
                                     mip_filter: Nearest,
                                     wrap_mode: (Tile, Tile, Tile),
                                     lod_bias: (0),
                                     lod_range: (
                                         start: ( 0 ),
                                         end: ( 8000 ),
                                     ),
                                     comparison: None,
                                     border: (0),
                                     anisotropic: Off,
                                 ),
                             ),
                         )),
                         sprites: [
                             Grid((
                                 texture_width: 200,
                                 texture_height: 160,
                                 columns: 5,
                                 rows: 4,
                                 cell_size: (40, 40),
                             )),
                             List((
                                    texture_width: 200,
                                    texture_height: 160,
                                    sprites: [
                                        (
                                            x: 0,
                                            y: 0,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 40,
                                            y: 0,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 80,
                                            y: 0,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 120,
                                            y: 0,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 160,
                                            y: 0,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 0,
                                            y: 40,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 40,
                                            y: 40,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 80,
                                            y: 40,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 120,
                                            y: 40,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 160,
                                            y: 40,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 0,
                                            y: 80,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 40,
                                            y: 80,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 80,
                                            y: 80,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 120,
                                            y: 80,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 160,
                                            y: 80,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 0,
                                            y: 120,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 40,
                                            y: 120,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 80,
                                            y: 120,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 120,
                                            y: 120,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                        (
                                            x: 160,
                                            y: 120,
                                            width: 40,
                                            height: 40,
                                            flip_horizontal: false,
                                            flip_vertical: false,
                                        ),
                                    ],
                                )
                             ),
                         ],
                         // optional
                         name: "main_sheet",
                     ),
                     // SpriteRenderPrefab
                     render: (
                         sheet: "main_sheet",
                         sprite_number: 0,
                     ),
                 ),
             ),
         ),
    ],
)